@charset "UTF-8";

:root{
    --color-1:#8C3545;
    --color-2:#8C3535;
    --color-3:#732C2C;
    --color-4:#A68181;
    --color-5:#F2F2F2;

}

.logo{
    width: 100px;
}
.heder,
.paginas{
    display: flex;
    flex-direction: row;
    align-items: center;

}
.heder{
    background-color: var();
    box-shadow: 1px 1px 4px var(--color-1);
    height: 3.5em;
    justify-content: space-between;
    padding: 0 10%;
}
.paginas{
    gap: 3em;
    

}
.paginas a{
text-decoration: none;
color: black;
transition: 1s;
font-weight: bold;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.inicio{
    background-color: var(--color-dark4);

   
    
}
.inicio>h1{
    background-color: #0D0D0D;
    color: #EAF205;
    width: 44vh;
    text-align: center;
   

}
.botão{
    background-color: transparent;
    border: none;
    color: var(--color-4);
    cursor: pointer;
    display: none;

}
@media (max-width: 768px) { 
    .botão{
        display: block;
    }
    

    
    
    .paginas{
        position: absolute;
        flex-direction: column;
        top: 0;
        background-color: var(--color-1);
        height: 100%;
        width: 35vw;
        padding: 1em;
        animation-duration: 1s;
        margin-left: -100vw;


    }
}
@keyframes showSidebar {
from{margin-left: -100vw;}
 top{margin-left: -10vw;} 
}
/**loja**/
main{
    width: 100%;
    height: 100%;
}

.produtos{
    padding: 36px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.produto{
    margin-bottom: 20px;
    cursor: pointer;
}
